.add-button {
  width: 150px;
  height: 50px;
  background: transparent;
  background-image: url('../../images/add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: solid white 2px;
  box-sizing: border-box;
  transition: .3s ease;
  margin: auto 0 auto auto;
  border-radius: 2px;
}

.add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .add-button {
    background-size: 16px 16px;
    width: calc(100% - 38px);
    margin: 36px auto auto;
  }  
        
}