.element {
  max-width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(2 minmax(max-content));
  grid-template-columns: repeat(2 minmax(max-content));
  grid-template-areas: 
  'image image'
  'name like';
}
