.submit-button {
  background-color: #000;
  color: #fff;
  margin: 18px 36px 37px;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  align-content: center;
  justify-content: center;
  transition: .5 ease;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.submit-button:hover {
  opacity: .8;
}